---
name: ASDF CAF Scripts tests - Linux

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

jobs:
  test-asdf-caf-scripts-linux:
    runs-on: ubuntu-latest
    env:
      MINIKUBE_VERSION: "v1.37.0"
      CAF_LCL_K8S_MEMORY: "8" #Limit the amount of memory we use since runners have limited resources
      CAF_ROUTE_TO_LOCAL_K8S_DURATION: "30"

    steps:
      - name: Install Minikube
        run: |
          # Install Minikube
          curl -Lo minikube https://storage.googleapis.com/minikube/releases/${{ env.MINIKUBE_VERSION }}/minikube-linux-amd64
          chmod +x minikube && mv minikube /usr/local/bin/

      - name: Test caf_create_local_k8s.sh
        uses: asdf-vm/actions/plugin-test@v3
        with:
          command: caf_create_local_k8s.sh
          version: ref:${{ github.sha }}

      # Traefik requires minikube tunnel unless native Load Balancing is used
      - name: Install Ingress Traefik
        run: |
          helm upgrade --install traefik traefik --repo https://traefik.github.io/charts \
          --namespace traefik --create-namespace \
          --set-json 'providers.kubernetesCRD.nativeLBByDefault=true,providers.kubernetesIngress.nativeLBByDefault=true,providers.kubernetesGateway.nativeLBByDefault=true'

      - name: Test caf_route_to_local_k8s.sh
        uses: asdf-vm/actions/plugin-test@v3
        with:
          command: |
            caf_route_to_local_k8s.sh &
            curl -s -o /dev/null --connect-timeout 5 --retry 3 --retry-delay 5 http://www.adaptive.local/healthz && echo "Ingress controller healthz endpoint is reachable."
          version: ref:${{ github.sha }}
