---
name: Linux test

on:
  workflow_dispatch:
  push:
    branches: ["*"]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  test-asdf-caf-scripts-linux:
    runs-on: ubuntu-latest
    env:
      MINIKUBE_VERSION: "latest"
      ASDF_VERSION: "v0.14.1"
      CAF_LCL_K8S_MEMORY: "8" #Limit the amount of memory we use since runners have limited resources
      ASDF_DIR: /opt/asdf

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          # Install Minikube
          curl -Lo minikube https://storage.googleapis.com/minikube/releases/${{ env.MINIKUBE_VERSION }}/minikube-linux-amd64
          chmod +x minikube && mv minikube /usr/local/bin/

          # Install ASDF and plugins
          git clone https://github.com/asdf-vm/asdf.git ${{ env.ASDF_DIR }} --branch ${{ env.ASDF_VERSION }} && . "${{ env.ASDF_DIR }}/asdf.sh"
          asdf plugin add caf-scripts "https://github.com/weareadaptive/asdf-caf-scripts"
          cut -d' ' -f1 .tool-versions | xargs -I{} asdf plugin-add {} || true
          asdf install

      - name: Test scripts
        run: |
          ./scripts/caf_create_local_k8s.sh
          ./scripts/caf_route_to_local_k8s.sh &
          curl -s --connect-timeout 5 --retry 5 --retry-delay 5 kube-dns.kube-system.svc.cluster.local:9153/metrics
